.wrapper-settings{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(30px);  
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper-settings h1{
    font-size: 36px;
    text-align: center;
}

.wrapper-settings .container{
    display: flex;
    
}

.wrapper-settings .photo{
    margin-top: 10px;
    width: 50%;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
}

.wrapper-settings .photo img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}


.photo:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  .tooltip {
    visibility: hidden;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 20;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* Arrow on the bottom */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
  }




.wrapper-settings .input-box{
    position: relative;
    width: 100%;
    height: 50%;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.div-input{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .settings-submit{
        /* margin-top: 5px; */
        height: 40%;
        width: 30%;
    }
    input{
        height: 50px;
        background: transparent;
        border: 2px solid rgba(255,255,255,.2);
        outline: none;
        border-radius: 40px;
        color: #fff;
        padding: 20px 45px 20px 20px;
        width: 65%;
    }
}

.div-input{
    .settings-submit{
        position: relative;
        display: inline-flex;
        align-items: center;
        padding: 10px 10px;
        color: aqua;
        font-size: 15px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .7s;
        margin-top: 2%;
        letter-spacing: 4px;
        background-color: transparent;
        /* border: none; */
        border-radius: 5px;
    }
    
    .settings-submit:hover{
        background-color: rgba(0, 255, 255, 0.1);
        color: pink;
        border-radius: 20px;
        box-shadow: 0 0 5px rgba(0, 255, 255, 0.1),
        0 0 25px rgba(0, 255, 255, 0.1),
        0 0 50px rgba(0, 255, 255, 0.1)
        0 0 100px rgba(0, 255, 255, 0.1);
    }
    
    .settings-submit::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(255, 150, 229, 0.1);
        transform: skewX(-50deg);
        opacity: 0;
        transition: opacity 0.7s;
        
    }
    
    .settings-submit:hover::before {
        left: 100%;
        transition: 0.7s;
        opacity: 1;
    }
    
    .settings-submit:hover::before {
        animation: shine 2s linear forwards;
    }
    
    @keyframes shine {
        0% {
            left: -100%;
        }
        50% {
            left: 100%;
        }
        100% {
            left: 100%;
            opacity: 0;
        }
    }
    
    .settings-submit::before{
        opacity: 0;
    }


}

.div-change-nick{
    display: flex;
    position: relative;
    height: 50%;
    width: 100%;
    .change-nickname{
        display: flex;
        height: 100%;
        width: 100%;
        margin-left: 0;
        padding: 20px 20px;
        .change-nick{
            display: flex;
            position: relative;
            align-items: center;
            width: 50%;
            height: 50%;
            margin-bottom: 10%;
            margin-left: 15px;
            cursor: pointer;
        }
    }
}


.div-change-nick{
    .change-nickname .change-nick{
        position: relative;
        display: inline-flex;
        align-items: center;
        padding: 10px 10px;
        color: aqua;
        font-size: 15px;
        text-decoration: none;
        overflow: hidden;
        transition: .7s;
        background-color: transparent;
        border: none;
    }

    .change-nickname .change-nick:hover{
        background-color: rgba(0, 255, 255, 0.1);
        color: pink;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 255, 255, 0.1),
        0 0 25px rgba(0, 255, 255, 0.1),
        0 0 50px rgba(0, 255, 255, 0.1)
        0 0 100px rgba(0, 255, 255, 0.1);
    }
    
    .change-nickname .change-nick::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(255, 150, 229, 0.1);
        transform: skewX(-50deg);
        opacity: 0;
        transition: opacity 0.7s;
        
    }

    .change-nickname .change-nick:hover::before {
        left: 100%;
        transition: 0.7s;
        opacity: 1;
    }
    
    .change-nickname .change-nick:hover::before {
        animation: shine 2s linear forwards;
    }
    
    @keyframes shine {
        0% {
            left: -100%;
        }
        50% {
            left: 100%;
        }
        100% {
            left: 100%;
            opacity: 0;
        }
    }
    
    .change-nickname .change-nick::before{
        opacity: 0;
    }


}







.buttons-change{
    display: flex;
    height: 6vh;
    width: 100%;
    justify-content: space-evenly;
}

.div-change-pw{
    /* margin-right: 10px; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.div-change-pw .change-pw{
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    width: 60%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 255, 255, 0.35);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .7s;
    border: 1px solid rgba(255, 255, 255, 0.35);
    justify-content: center;
    cursor: pointer;
}

.div-change-pw .change-pw:hover{
    background-color: aqua;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px aqua,
    0 0 25px aqua,
    0 0 50px aqua
    0 0 100px aqua;
}
.div-change-pw .change-pw span{
    position: absolute;
    display: block;
}

.div-change-pw .change-pw::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 150, 229, 0.65);
    transform: skewX(-50deg);
    opacity: 0;
    transition: opacity 0.7s;  
}
.div-change-pw .change-pw:hover::before {
    left: 100%;
    transition: 0.7s;
    opacity: 1;
}

.div-change-pw .change-pw:hover::before {
    animation: shine 2s linear forwards;
}
@keyframes shine {
    0% {
        left: -100%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

.div-change-pw .change-pw::before{
    opacity: 0;
}





.div-cancel{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.div-cancel .b-cancel {
    position: relative; 
    display: flex;
    align-items: center;
    padding: 20px 20x;
    width: 60%;
    height: 100%;
    color: #FFF;
    transition: all 0.5s;
    font-size: 16px; 
    border: none;
    background-color: transparent; 
    cursor: pointer;
    justify-content: center;
    
}

.div-cancel .b-cancel span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-cancel .b-cancel::before, .div-cancel .b-cancel::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 255, 255, 0.2);
    border-radius: 5px;
}

.div-cancel .b-cancel:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255, 0, 0, 0.2);
    border: 2px solid rgba(255, 0, 0, 0.4);
}

.div-cancel .b-cancel:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255, 0, 0, 0.2);
    border: 2px solid rgba(255, 0, 0, 0.4);
}

/* 

.unclickable{
    pointer-events: none;
    opacity: 0.5;
} */