.login{
    position: relative;
    width: 30vw;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(30px);  
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

 h1{
    font-size: 36px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50%;
    margin: 30px 0;
}

input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    outline: none;
    border-radius: 40px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.forgot-password{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-size: 14.5px;
}

.forgot-password a{
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.forgot-password a:hover{
    text-decoration: underline;
}

/* button{
    width: 100%;
    height: 45px;
    background:#fff ;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
} */

.login-button{
    display: flex;
    justify-content: center;
    
}

.login-button button{
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    color: aqua;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .7s;
    margin-top: 20px;
    letter-spacing: 4px;
    cursor: pointer;
}

.login-button button:hover{
    background-color: aqua;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px aqua,
    0 0 25px aqua,
    0 0 50px aqua
    0 0 100px aqua;
}

.login-button button span{
    position: absolute;
    display: block;
}

.login-button button span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, aqua);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1{
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}

.login-button button span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, aqua);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2{
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}

.login-button button span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, aqua);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim3{
    0%{
        right: -100%;
    }
    50%, 100%{
        right: 100%
    }
}

.login-button button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, aqua);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim4{
    0%{
        bottom: -100%;
    }
    50%, 100%{
        bottom: 100%
    }
}

.login-button button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 150, 229, 0.65);
    transform: skewX(-50deg);
    opacity: 0;
    transition: opacity 0.7s;
    
}

.login-button button:hover::before {
    left: 100%;
    transition: 0.7s;
    opacity: 1;
}

.login-button button:hover::before {
    animation: shine 2s linear forwards;
}

@keyframes shine {
    0% {
        left: -100%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

.login-button button::before{
    opacity: 0;
}


.register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
}

.register-link p a:hover{
    text-decoration: underline;
}