.change-pw{
    position: relative;
    width: 30vw;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(30px);  
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

 h1{
    font-size: 36px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50%;
    margin: 30px 0;
}

input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    outline: none;
    border-radius: 40px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.buttons-chpw{
    display: flex;
    height: 6vh;
    width: 100%;
    justify-content: space-between;
}

.reset-button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.reset-button .b-reset{
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    width: 45%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 255, 255, 0.35);
    border: none;
    border-radius: 5px;
    /* color: aqua; */
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .7s;
    border: 1px solid rgba(255, 255, 255, 0.35);
    justify-content: center;

}

.reset-button .b-reset:hover{
    background-color: aqua;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px aqua,
    0 0 25px aqua,
    0 0 50px aqua
    0 0 100px aqua;
}
.reset-button .b-reset span{
    position: absolute;
    display: block;
}

.reset-button .b-reset::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 150, 229, 0.65);
    transform: skewX(-50deg);
    opacity: 0;
    transition: opacity 0.7s;  
}
.reset-button .b-reset:hover::before {
    left: 100%;
    transition: 0.7s;
    opacity: 1;
}

.reset-button .b-reset:hover::before {
    animation: shine 2s linear forwards;
}
@keyframes shine {
    0% {
        left: -100%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

.reset-button .b-reset::before{
    opacity: 0;
}

.ch-chancel-button{
    height: 100%;
    width: 100%;
    /* margin-right: 0; */
    display: flex;
    justify-content: center;
}

.ch-chancel-button .b-ch-cancel {
    position: relative; 
    display: flex;
    align-items: center;
    padding: 20px 20x;
    width: 45%;
    height: 100%;
    color: #FFF;
    transition: all 0.5s;
    font-size: 16px; 
    border: none;
    background-color: transparent; 
    cursor: pointer;
    justify-content: center;
    
}

.ch-chancel-button .b-ch-cancel span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.ch-chancel-button .b-ch-cancel::before, .ch-chancel-button .b-ch-cancel::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 255, 255, 0.2);
    border-radius: 5px;
}

.ch-chancel-button .b-ch-cancel:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255, 0, 0, 0.2);
    border: 2px solid rgba(255, 0, 0, 0.4);
}

.ch-chancel-button .b-ch-cancel:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255, 0, 0, 0.2);
    border: 2px solid rgba(255, 0, 0, 0.4);
}